.modal-container {
  position: fixed;
  background: aliceblue;
  left: 0;
  top: 20vw;
  right: 0;
  bottom: 0;
  margin: 0 auto auto auto;
  width: clamp(300px, 90vw, min(90vw, 400px));
  height: fit-content;
  overflow: auto;
  z-index: 1001;
  padding: 0.25rem;

}

.modal-header {
  display: flex;
  width: 100%;
  padding: 4px;
  align-items: center;
  justify-content: space-between;
}

.modal-body {
  max-height: fit-content;
}

.modal-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 0.5rem;
}

.modal-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background: black;
  z-index: 1000;
}

@media screen and (max-width: 500px) {
  .modal-container {
    top: 0;
    width: 100%;
    height: 100%;
  }
}
