.form-group {
  margin-bottom: 8px;

  label.form-label:has(
      + input:not([type='radio']).form-control,
      + select.form-control,
      + textarea.form-control
    ) {
    display: block;
  }

  input[type='checkbox'].form-control + label.form-label {
    margin-left: 4px;
  }

  fieldset.form-group {
    select.form-control {
      width: 100%;
    }
    padding: 4px;
  }

  select.form-control {
    min-width: clamp(60px, 10vw, 100%);
  }

  input[type='radio'] + label.form-label {
    margin-left: 4px;
  }

  ul:has(li .form-control + .form-label) {
    list-style-type: none;
  }
}

.no-resize {
  resize: none;
}
